
.right5px{
    position: absolute;
    right: 5px;
}
.margintop5px{margin-top: 5px;}
#lstMain .nothing:nth-of-type(even){
    background: #dcdcdc
}
#lstMain .nothing:nth-of-type(odd){
    background: transparent
}
#lstMain .nothing:hover{
    background: #bcbcbd

}
.card-back{
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 200px;
}
.introductionText{
    white-space: pre-line;
    margin-top: 10px;
    line-height: 2em;
}
.inlineCount{
    float: right;
    background: linear-gradient(left,rgba(255, 255, 255, 0.062),rgba(0,0,0,0.6));
    height: 20px;
    margin: 5px;
    width: auto;
    color: #fff;
    font-size: small
    
}