/* You can add global styles to this file, and also import other style files */

@import "~ng-zorro-antd/style/index.min.css"; /* 引入基本样式 */
@import "~ng-zorro-antd/button/style/index.min.css"; /* 引入组件样式 */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #f5f5f5;
  margin: auto;
}
hr {
  border: none;
}
li {
  list-style: none;
}
.windowXXFont {
  font-size: 20px;
  font-weight: bold;
}
.windowMainFont {
  font-size: 20px;
}
.windowSmallFont {
  font-size: 15px;
}
.windowSmallDescriptionFont {
  font-size: 0.8rem;
  color: gray;
}
.windowSmallDescriptionFontHeader {
  font-size: 0.8rem;
  color: black;
}
.flexCenterDiv {
  display: flex;
  align-items: center;
}
.flexTopDiv {
  display: flex;
  align-items: flex-start;
}
.indirectViewTopPart {
  height: 210px;
  margin: 20px 0 20px 20px;
  display: flex;
  align-items: center;
}
.indirectViewTopPartImg {
  height: 200px;
  width: 200px;
  margin: 5px;
}
.indirectViewTopPartRight {
  background: transparent;
  margin-left: 20px;
}
.smallLink {
  color: #838383;
  font-size: smaller;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.smallLink:hover {
  color: brown;
}
.smallLink_disabled {
  color: #b7b2b2;
  pointer-events: none;
}
.blueLink {
  color: blue;
  font-size: smaller;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.blueLink:hover {
  color: #838383;
}
.bottomListPart {
  border: 0ch;
  margin: 20px 0;
}
.bottomListItem {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  height: auto;
}
.bottomListItemMv {
  padding-right: 5px;
  border: red;
  color: red;
  border-width: 1px;
  border-style: solid;
  font-size: xx-small;
}
.bottomListItemRightPart {
  float: right;
  display: flex;
  align-items: center;
  width: 40%;
  min-width: 350px;
}
.height60ListItem {
  height: 60px;
}
.fullHeight {
  height: 100%;
}
.fullWidth {
  width: 100%;
}
.flexLastFull {
  flex-grow: 1;
}
.img48Px {
  width: 48px;
  height: 48px;
  margin: 5px;
}
.noWrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.listItemHor {
  margin: 5px;
}
.pointerCursor {
  cursor: pointer;
}
.allImg {
  width: 100%;
  height: 100%;
}
.loadMoreDiv {
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}
.margin10px {
  margin: 10px;
}
.topPartControl {
  font-size: 15px;
  border: solid;
  border-width: thin;
  border-style: solid;
  padding: 3px;
  margin: 5px;
  cursor: pointer;
}
.topPartControl:hover {
  background: #bcbcbc;
}
.multiLineOverflowWrap {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.centerControlPart {
  display: flex;
  height: 30px;
  align-items: center;
}
.marginH10px {
  margin-left: 10px;
  margin-right: 10px;
}
.marginV10px {
  margin-top: 10px;
  margin-bottom: 10px;
}

.nothing:nth-of-type(even) {
  background: #dcdcdc;
}
.nothing:nth-of-type(odd) {
  background: transparent;
}
.nothing:hover {
  background: #bcbcbd;
}
.flexBoxLastRight {
  margin-left: auto;
}
.flexReverseCenterDiv {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.rightPadding5px {
  padding-right: 5px;
}
.unavailableListItem {
  color: #b7b2b2;
}
.txtCenter {
  text-align: center;
}
